.winner-ring::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: rgba(0, 255, 0, 0.2);
  border-radius: 50%;
  z-index: -1;
  animation: pulse 1.2s infinite;

}


@keyframes pulse {
  0% { transform: scale(0.9); opacity: 0.8; }
  50% { transform: scale(1); opacity: 0.4; }
  100% { transform: scale(0.9); opacity: 0.8; }
}